@font-face{
    font-family:Mulish-Bold;
    src:url(/content/dam/Idealake/fonts/Mulish-Bold.eot);
    src:url(/content/dam/Idealake/fonts/Mulish-Bold.eot?#iefix) format("embedded-opentype"),url(/content/dam/Idealake/fonts/Mulish-Bold.woff2) format("woff2"),url(/content/dam/Idealake/fonts/Mulish-Bold.woff) format("woff"),url(/content/dam/Idealake/fonts/Mulish-Bold.ttf) format("truetype"),url(/content/dam/Idealake/fonts/Mulish-Bold.svg#Mulish-Bold) format("svg");
    font-weight:700;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:Mulish-Medium;
    src:url(/content/dam/Idealake/fonts/Mulish-Medium.eot);
    src:url(/content/dam/Idealake/fonts/Mulish-Medium.eot?#iefix) format("embedded-opentype"),url(/content/dam/Idealake/fonts/Mulish-Medium.woff2) format("woff2"),url(/content/dam/Idealake/fonts/Mulish-Medium.woff) format("woff"),url(/content/dam/Idealake/fonts/Mulish-Medium.ttf) format("truetype"),url(/content/dam/Idealake/fonts/Mulish-Medium.svg#Mulish-Medium) format("svg");
    font-weight:500;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:Mulish-Regular;
    src:url(/content/dam/Idealake/fonts/Mulish-Regular.eot);
    src:url(/content/dam/Idealake/fonts/Mulish-Regular.eot?#iefix) format("embedded-opentype"),url(/content/dam/Idealake/fonts/Mulish-Regular.woff2) format("woff2"),url(/content/dam/Idealake/fonts/Mulish-Regular.woff) format("woff"),url(/content/dam/Idealake/fonts/Mulish-Regular.ttf) format("truetype"),url(/content/dam/Idealake/fonts/Mulish-Regular.svg#Mulish-Regular) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:icomoon;
    src:url(../fonts/icomoon.eot?klsznq);
    src:url(../fonts/icomoon.eot?klsznq#iefix) format("embedded-opentype"),url(../fonts/icomoon.woff2?klsznq) format("woff2"),url(../fonts/icomoon.ttf?klsznq) format("truetype"),url(../fonts/icomoon.woff?klsznq) format("woff"),url(../fonts/icomoon.svg?klsznq#icomoon) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:block
}
[class*=" icon-"],[class^=icon-]{
    font-family:icomoon!important;
    speak:never;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-frame-3:before{
    content:"\e968"
}
.icon-gap:before{
    content:"\e969"
}
.icon-identifying-challenges:before{
    content:"\e96a"
}
.icon-impact:before{
    content:"\e96b"
}
.icon-maximizes-benefits:before{
    content:"\e96c"
}
.icon-measure:before{
    content:"\e96d"
}
.icon-monitoring-1:before{
    content:"\e96e"
}
.icon-opportunities:before{
    content:"\e96f"
}
.icon-readiness-for-change:before{
    content:"\e970"
}
.icon-reduces-risk:before{
    content:"\e971"
}
.icon-resistance:before{
    content:"\e972"
}
.icon-resistance-1:before{
    content:"\e973"
}
.icon-results:before{
    content:"\e974"
}
.icon-reward:before{
    content:"\e975"
}
.icon-stakeholders:before{
    content:"\e976"
}
.icon-strategy:before{
    content:"\e977"
}
.icon-strategy-2:before{
    content:"\e978"
}
.icon-success-story:before{
    content:"\e979"
}
.icon-support:before{
    content:"\e97a"
}
.icon-swot:before{
    content:"\e97b"
}
.icon-plan-and-launch:before{
    content:"\e97c"
}
.icon-acquiring-knowledge:before{
    content:"\e97d"
}
.icon-celebrate:before{
    content:"\e97e"
}
.icon-change-infra:before{
    content:"\e97f"
}
.icon-communicate-plans:before{
    content:"\e980"
}
.icon-create-awareness:before{
    content:"\e981"
}
.icon-defining-change-management:before{
    content:"\e982"
}
.icon-determine:before{
    content:"\e983"
}
.icon-develop-skills:before{
    content:"\e984"
}
.icon-employee-engagement:before{
    content:"\e985"
}
.icon-evaluate:before{
    content:"\e986"
}
.icon-feedback:before{
    content:"\e987"
}
.icon-frame-2:before{
    content:"\e988"
}
.icon-refresh:before{
    content:"\e967"
}
.icon-cloud-hosting:before{
    content:"\e964"
}
.icon-cloud-setup:before{
    content:"\e965"
}
.icon-our-clients-cloud:before{
    content:"\e966"
}
.icon-Statutory-disclosure .path1:before{
    content:"\e950";
    color:#666262
}
.icon-Statutory-disclosure .path2:before{
    content:"\e957";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path3:before{
    content:"\e959";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path4:before{
    content:"\e95a";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path5:before{
    content:"\e95b";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path6:before{
    content:"\e95c";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path7:before{
    content:"\e95d";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path8:before{
    content:"\e95e";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path9:before{
    content:"\e95f";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path10:before{
    content:"\e960";
    margin-left:-1.0771484375em;
    color:#161616
}
.icon-Statutory-disclosure .path11:before{
    content:"\e961";
    margin-left:-1.0771484375em;
    color:#666262
}
.icon-Statutory-disclosure .path12:before{
    content:"\e962";
    margin-left:-1.0771484375em;
    color:#161616
}
.icon-Statutory-disclosure .path13:before{
    content:"\e963";
    margin-left:-1.0771484375em;
    color:#161616
}
.icon-brand-identity:before{
    content:"\e946"
}
.icon-onsite-design:before{
    content:"\e956"
}
.icon-visual-design-banner:before{
    content:"\e958"
}
.icon-check:before{
    content:"\e954"
}
.icon-share:before{
    content:"\e955"
}
.icon-blending-creativity:before{
    content:"\e94d"
}
.icon-end-to-end-solution:before{
    content:"\e94e"
}
.icon-power-of-data:before{
    content:"\e952"
}
.icon-current-tech-trend:before{
    content:"\e953"
}
.icon-top:before{
    content:"\e951"
}
.icon-push-notifications2:before{
    content:"\e94f"
}
.icon-app-design:before{
    content:"\e937"
}
.icon-brand-analytics:before{
    content:"\e938"
}
.icon-chatbots:before{
    content:"\e939"
}
.icon-core-system-Integration:before{
    content:"\e93a"
}
.icon-deployment-integration:before{
    content:"\e93b"
}
.icon-ecmmrc-analytics:before{
    content:"\e93d"
}
.icon-ecom-social-media:before{
    content:"\e93e"
}
.icon-emailers:before{
    content:"\e93f"
}
.icon-frame1:before{
    content:"\e940"
}
.icon-frame2:before{
    content:"\e941"
}
.icon-frame3:before{
    content:"\e942"
}
.icon-key-metrics:before{
    content:"\e943"
}
.icon-Mobile-App-Design:before{
    content:"\e944"
}
.icon-personalization:before{
    content:"\e945"
}
.icon-robust-cms:before{
    content:"\e947"
}
.icon-service-oriented-arch:before{
    content:"\e948"
}
.icon-smart-search:before{
    content:"\e949"
}
.icon-ux-design:before{
    content:"\e94a"
}
.icon-ux-strategy:before{
    content:"\e94b"
}
.icon-website-design-solution:before{
    content:"\e94c"
}
.icon-phone:before{
    content:"\e935"
}
.icon-location2:before{
    content:"\e936"
}
.icon-facebook:before{
    content:"\e933"
}
.icon-instagram:before{
    content:"\e934"
}
.icon-right-arrow4:before{
    content:"\e932"
}
.icon-right-arrow3:before{
    content:"\e92f"
}
.icon-play:before{
    content:"\e91a"
}
.icon-lets-chat-arrow:before{
    content:"\e913"
}
.icon-figma:before{
    content:"\e900"
}
.icon-right-arrow:before{
    content:"\e92e";
    color:#0b4e82
}
.icon-top-right-arrow:before{
    content:"\e93c"
}
.icon-angular:before{
    content:"\e919"
}
.icon-html:before{
    content:"\e91b"
}
.icon-java:before{
    content:"\e91c"
}
.icon-react:before{
    content:"\e922"
}
.icon-selenium:before{
    content:"\e923"
}
.icon-vuejs:before{
    content:"\e924"
}
.icon-cms:before{
    content:"\e925"
}
.icon-enterprise:before{
    content:"\e926"
}
.icon-front-end:before{
    content:"\e927"
}
.icon-infra:before{
    content:"\e928"
}
.icon-product-dev:before{
    content:"\e929"
}
.icon-linked-in3:before{
    content:"\e930"
}
.icon-twitter2:before{
    content:"\e931"
}
.icon-linked-in2:before{
    content:"\e92d"
}
.icon-youtube:before{
    content:"\e92c"
}
.icon-dribbble:before{
    content:"\e92b"
}
.icon-twitter:before{
    content:"\e912"
}
.icon-insta:before{
    content:"\e92a"
}
.icon-linked-in:before{
    content:"\e914"
}
.icon-right-arrow2:before{
    content:"\e911"
}
.icon-email-icon:before{
    content:"\e901"
}
.icon-idealake_logo:before{
    content:"\e90e"
}
.icon-location:before{
    content:"\e90f"
}
.icon-phone-icon:before{
    content:"\e910"
}
.icon-left-arrow:before{
    content:"\e902"
}
.icon-quote:before{
    content:"\e903"
}
.icon-curve-arrow-2:before{
    content:"\e904"
}
.icon-curve-arrow-1:before{
    content:"\e905"
}
.icon-design:before{
    content:"\e91d"
}
.icon-web:before{
    content:"\e91e"
}
.icon-mobile:before{
    content:"\e91f"
}
.icon-back-end:before{
    content:"\e920"
}
.icon-testing:before{
    content:"\e921"
}
.icon-data-led:before{
    content:"\e915"
}
.icon-social-media:before{
    content:"\e916"
}
.icon-visual-design:before{
    content:"\e917"
}
.icon-content:before{
    content:"\e918"
}
.icon-enterprise-application:before{
    content:"\e906"
}
.icon-machine-learning:before{
    content:"\e907"
}
.icon-mob-app-solutions:before{
    content:"\e908"
}
.icon-onsite-professionals:before{
    content:"\e909"
}
.icon-user-experience:before{
    content:"\e90a"
}
.icon-artificial-intelligence:before{
    content:"\e90b"
}
.icon-Brand-Workshop:before{
    content:"\e90c"
}
.icon-ecommerce-solutions:before{
    content:"\e90d"
}
#footer{
    background:linear-gradient(180deg,#000934 0,#0029f5 100%);
    padding:8.8rem 0;
    font-size:1.6rem;
    line-height:3rem;
    color:#d9dbe1;
    overflow:hidden;
    position:relative
}
#footer .justify-content-between{
    -ms-flex-pack:justify;
    justify-content:space-between;
    position:relative;
    z-index:1
}
#footer .col-lg-2.acc-cont-1{
    padding-left:4.5rem
}
#footer .col-lg-2.acc-cont-3{
    padding-left:0
}
#footer .col-lg-3.acc-cont-2{
    padding-left:10.6rem
}
#footer .ftr-bg{
    position:absolute;
    right:0;
    top:-15px;
    z-index:0
}
#footer address{
    font-style:normal;
    color:#d9dbe1;
    font-size:inherit
}
#footer .acc-cont{
    margin:0 15px;
    max-width:282px
}
#footer .info{
    max-width:415px;
    margin:0 15px
}
#footer .info a{
    display:-ms-inline-flexbox;
    display:inline-flex
}
#footer .info .info_content{
    margin-bottom:1.7rem
}
#footer .ftr-logo{
    margin-bottom:2.4rem
}
#footer .sign_up{
    font-size:1.8rem;
    font-family:Mulish-Bold;
    color:#fff;
    margin-bottom:2.2rem
}
#footer .ftr_link_head{
    position:relative;
    font-size:2rem;
    font-family:Mulish-Bold;
    color:#fff;
    margin-bottom:2.4rem
}
#footer .ftr_links li a{
    display:block;
    margin-bottom:1.2rem;
    color:#d9dbe1;
    font-size:1.8rem;
    line-height:2.4rem;
    transition:all .2s ease-in-out
}
#footer .ftr_links li a:hover{
    color:#4869ec
}
#footer .ftr_links li.coloredlink a{
    color:rgba(69,193,245,.97);
    text-transform:capitalize
}
#footer .subscribe{
    background-color:#515151;
    border-radius:4em;
    padding:.4rem .4rem .4rem 3rem;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between
}
#footer .subscribe input{
    background:0 0;
    color:#fff;
    padding:0;
    border:0;
    outline:0;
    box-shadow:none;
    font-size:1.6rem;
    width:100%
}
#footer .subscribe .btn_primary{
    padding:.2rem 3.4rem;
    font-size:1.4rem;
    color:#fff
}
#footer .ftr_info_list li{
    display:-ms-flexbox;
    display:flex;
    width:100%;
    margin-bottom:.8rem
}
#footer .ftr_info_list li a{
    color:#d9dbe1
}
#footer .ftr_info_list li [class*=" icon-"],#footer .ftr_info_list li [class^=icon-]{
    font-size:2.6rem;
    line-height:1.2;
    padding-right:1.2rem;
    display:inline-block;
    color:rgba(69,193,245,.97)
}
#footer .ftr_info_list li:hover{
    color:#45c1f5
}
#footer .ftr_info_list li .ml-5{
    margin-left:38px
}
#footer-bg-wrap{
    background-color:#000;
    padding:2.2rem 0
}
#footer-bg-wrap .list-content-block{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-align:center;
    align-items:center
}
#footer-bg-wrap .cont-wrap{
    display:-ms-flexbox;
    display:flex
}
#footer-bg-wrap .cont-wrap .rights-res{
    font-weight:400;
    font-size:1.4rem;
    line-height:2.4rem;
    color:#d9dbe1;
    padding-right:5.6rem;
    position:relative
}
#footer-bg-wrap .cont-wrap .terms{
    display:-ms-flexbox;
    display:flex
}
#footer-bg-wrap .cont-wrap .terms li{
    padding:0 .8rem
}
#footer-bg-wrap .cont-wrap .terms li::before{
    content:"";
    position:absolute;
    background-color:#d9dbe1;
    top:.3rem;
    left:0;
    width:.2rem;
    height:2.1rem
}
.ftr_social_list li{
    display:inline-block;
    margin-right:1.8rem
}
.ftr_social_list li a{
    width:28px;
    height:28px;
    border-radius:100%;
    background:#23252e;
    padding:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center
}
.ftr_social_list li a:hover{
    transition:all .4s ease;
    -ms-transform:rotate(360deg);
    transform:rotate(360deg)
}
.ftr_social_list li a [class*=" icon-"],.ftr_social_list li a [class^=icon-]{
    color:#fff;
    font-size:1.3rem;
    transition:all .2s ease-in-out
}
.ftr_social_list li a [class*=" icon-"],.ftr_social_list li a:hover [class^=icon-]{
    color:#ffa900
}
@media only screen and (max-width:1600px){
    #footer .col-lg-2.acc-cont-1{
        padding-left:1.5rem
    }
    #footer .col-lg-2.acc-cont-3{
        padding-left:1.5rem
    }
    #footer .col-lg-3.acc-cont-2{
        padding-left:1.5rem
    }
}
@media only screen and (max-width:1199px){
    #footer .info{
        max-width:100%;
        margin-bottom:2rem
    }
}
@media only screen and (max-width:991px){
    #footer .acc-cont{
        max-width:inherit;
        width:100%
    }
    #footer .info .info_content{
        margin-bottom:3rem;
        font-size:1.6rem;
        line-height:3rem
    }
    #footer .ftr-logo{
        margin-bottom:2rem
    }
    #footer .accordin-head{
        transition:all .4s ease
    }
    #footer .accordin-head:before{
        content:"";
        position:absolute;
        background:linear-gradient(89.99deg,#eaeaea 1.09%,rgba(255,232,67,.3) 99.99%);
        width:100%;
        height:1px;
        opacity:.3;
        top:-9px
    }
    #footer .accordin-head:after{
        content:"\e92f";
        position:absolute;
        top:7px;
        right:8px;
        font-size:18px;
        font-family:icomoon!important;
        color:#fff;
        font-weight:400;
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        transition:all .4s ease
    }
    #footer .accordin-head.active:after{
        -ms-transform:rotate(-90deg);
        transform:rotate(-90deg)
    }
    #footer .accordin-head:not(.active):after{
        -ms-transform:rotate(90deg);
        transform:rotate(90deg)
    }
    #footer .accordin-content{
        display:none;
        margin-bottom:2rem
    }
}
@media only screen and (max-width:991px) and (max-width:991px){
    #footer .accordin-head:after{
        top:0
    }
}
@media only screen and (max-width:767px){
    #footer{
        padding:2.8rem 0
    }
    #footer .ftr-bg{
        top:30%;
        width:140px
    }
    #footer .info .info_content{
        padding-right:1rem
    }
    #footer .ftr_link_head{
        font-size:1.8rem
    }
    #footer-bg-wrap{
        padding:1.5rem 0
    }
    #footer-bg-wrap .list-content-block{
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-align:start;
        align-items:start
    }
    #footer-bg-wrap .cont-wrap .rights-res{
        padding-right:2.8rem
    }
    #footer-bg-wrap .cont-wrap .terms{
        display:none
    }
    .ftr_social_list{
        padding-top:2rem
    }
    .ftr_social_list li a{
        width:3rem;
        height:3rem
    }
    .ftr_social_list li a [class*=" icon-"],.ftr_social_list li a [class^=icon-]{
        font-size:1.6rem
    }
}
@media only screen and (max-width:576px){
    #footer-bg-wrap .cont-wrap{
        -ms-flex-direction:column;
        flex-direction:column
    }
}
@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
 #footer .ftr-logo {
     margin-bottom: 2.4rem;
     filter: invert(360%) sepia(360%) saturate(0%) hue-rotate(0deg) brightness(360%) contrast(360%);
}
