<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
</sly>

<sly  data-sly-use.headerObj="com.Idealake.core.models.HeaderModel"/>

<header class="">
    <nav class="navbar">
        <div class="container">
            <section class="wrapper"><a href="/" title="Idealake-logo" class="brand">
                <picture>
                    <source srcset="${headerObj.logo}" type="image/png"><img src="${headerObj.logo}" alt="Idelake" title="Idealake" width="190" height="63">
                </picture>
            </a>
                <button type="button" id="burger" class="burger"><span class="burger-line"></span><span class="burger-line"></span><span class="burger-line"></span><span class="burger-line"></span></button>
                <div id="menu" class="menu">
                    <ul class="menu-inner">
                        <li data-sly-repeat.nav="${headerObj.navbar}"class="menu-item">
                            <a href="${nav.navBarLink}" class="menu-link">${nav.navBarName}</a>
                        </li>

                    </ul>
                </div><a href="${headerObj.ctaLink}" title="${headerObj.ctaText}" class="cont-btn">${headerObj.ctaText}</a>
            </section>
        </div>
    </nav>
</header>




