<section data-sly-use.testimonialcard="com.Idealake.core.models.TestimonialModel" id="testimonial">
    <div class="container testimonialwrap">
        <h2 data-aos="fade-up" class="sec-head">${properties.title}</h2>
        <div data-aos="fade-up" class="sliderWrap">
            <div class="my-slider">
                <ul>
                    <sly data-sly-list.testimonialItem="${testimonialcard.testimonialcards.listChildren}">
                    <li>
                        <p class="text">${testimonialItem.des}</p>
                        <div class="user">
                            <div class="userinfo">
                                <div class="userDetail">
                                    <p class="username">${testimonialItem.cliName}</p>
                                    <p class="userpos">${testimonialItem.cliPos}</p>
                                </div>
                            </div>
                            <div class="complogo"><img
                                    src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                    data-src="${testimonialItem.cliImg}"
                                    alt="${testimonialItem.imgAlt}" class="lazy"></div>
                        </div>
                    </li>
                    </sly>
                </ul>
            </div>
        </div>
    </div>
</section>