<section  id="testimonial">
  <div class="container testimonialwrap">
    <h2 data-aos="fade-up" class="sec-head">Transformation that has won our clients' trust</h2>
    <div data-aos="fade-up" class="sliderWrap">
      <div class="my-slider">
        <ul>
          <li>
            <p class="text">We’ve had the pleasure of working with the great team at
              Idealake Information Technologies Pvt. Ltd for the last four years. Idealake
              collaborated with DSP BlackRock for the designing, development, and
              maintenance of our star website. <br>This has been possible because of a
              hands-on approach and involvement of our teams, when it came to ideation and
              incorporating those ideas. </p>
            <div class="user">
              <div class="userinfo">
                <div class="userDetail">
                  <p class="username">Arvind Kumar</p>
                  <p class="userpos">Manager, Marketing.</p>
                </div>
              </div>
              <div class="complogo"><img
                      src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                      data-src="assets/images/clients/dsp-blackrock.png"
                      alt="DSP BlackRock" class="lazy"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>