<sly data-sly-use.image="com.Idealake.core.models.NumberCardsModel"/>

<section class="our-numbers" style="background-image:url('/content/dam/Idealake/our-numbers-bg.png')">
	<div class="il-container">
		<div class="cont-wrap">
			<h2 data-sly-test="${numbers.title}" class="section-title">${properties.title}</h2>
			<h3 data-sly-test="${numbers.subtitle}" class="sect-sub-title">${properties.subtitle}</h3>
		</div>
		<ul class="num-card-wrap">

			<sly data-sly-list.numbers="${image.cards.listChildren}">
				<li class="counter-item">
					<div class="cont-text">
						<h5><span aria-label="${numbers.counternumber}" class="counter">${numbers.counternumber}<span data-sly-test="${numbers.symbol}">${numbers.symbol}</span></span></h5>
						<h6 data-sly-test="${numbers.heading}">${numbers.heading}</h6>
					</div>
				</li>
			</sly>
		</ul>
	</div>
</section>
