<section id="ideasAchieve">
    <div class="sec-wrap">
        <picture class="secBg ideaBg">
            <source media="(max-width:465px)" type="image/webp"
                    srcset="/content/dam/Idealake/images/achive-mobile-new.png"><img
                src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                data-src="/content/dam/Idealake/images/achieve-bg.png" alt="ideas" class="lazy">
        </picture>
        <div class="container">
            <div class="head">
                <p class="headDesc">Through our simple yet diverse solutions, we've created some
                    memorable achievements for our partners and ourselves.</p>
                <div class="knowMorebtn"> <a href="javascript:void(0);" data-aos="zoom-out-up"
                                             data-aos-offset="100" data-aos-easing="ease-in-sine"
                                             class="btn btn_primary">know more</a>
                </div>
            </div>
            <div class="column">
                <div class="cards">
                    <p aria-label="200" class="counter">200<span>+</span></p>
                    <h4 class="counterTitle">Transformed brands </h4>
                    <p class="counterDesc">That we are proud to have worked with</p>
                </div>
                <div class="cards">
                    <p aria-label="50" class="counter">50<span>+</span></p>
                    <h4 class="counterTitle">Accolades </h4>
                    <p class="counterDesc">For the big ideas and the simple ones we've implemented</p>
                </div>
                <div class="cards">
                    <p aria-label="500" class="counter">500<span>+</span></p>
                    <h4 class="counterTitle">Completed Projects</h4>
                    <p class="counterDesc">Different solutions with the same ethos of transformation</p>
                </div>
                <div class="cards">
                    <p aria-label="22" class="counter">22<span>+</span></p>
                    <h4 class="counterTitle">Years in the game </h4>
                    <p class="counterDesc">And we're not done yet!</p>
                </div>
            </div>
        </div>
    </div>
</section>