html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar
}

*,
::after,
::before {
	box-sizing: border-box
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-small,
.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px
}

[class*=col-] {
	padding: 0 15px
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.order-first {
	-ms-flex-order: -1;
	order: -1
}

.order-last {
	-ms-flex-order: 13;
	order: 13
}

.order-0 {
	-ms-flex-order: 0;
	order: 0
}

.order-1 {
	-ms-flex-order: 1;
	order: 1
}

.order-2 {
	-ms-flex-order: 2;
	order: 2
}

.order-3 {
	-ms-flex-order: 3;
	order: 3
}

.order-4 {
	-ms-flex-order: 4;
	order: 4
}

.order-5 {
	-ms-flex-order: 5;
	order: 5
}

.order-6 {
	-ms-flex-order: 6;
	order: 6
}

.order-7 {
	-ms-flex-order: 7;
	order: 7
}

.order-8 {
	-ms-flex-order: 8;
	order: 8
}

.order-9 {
	-ms-flex-order: 9;
	order: 9
}

.order-10 {
	-ms-flex-order: 10;
	order: 10
}

.order-11 {
	-ms-flex-order: 11;
	order: 11
}

.order-12 {
	-ms-flex-order: 12;
	order: 12
}

#serviceDetailsbanner {
	position: relative;
	overflow: hidden;
	padding: 50px 0;
	width: 100%;
	min-height: 520px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

#serviceDetailsbanner .banner-bg-img {
	width: 100%;
	max-width: inherit;
	height: 100%;
	object-fit: cover
}

#serviceDetailsbanner picture {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	min-height: 520px
}

#serviceDetailsbanner picture img {
	width: 100%
}

#serviceDetailsbanner .banner-info-wrapper {
	position: relative;
	padding: 0;
	z-index: 1
}

#serviceDetailsbanner .banner-info-wrapper .bannerInfo {
	color: #fff;
	text-align: center
}

#serviceDetailsbanner .banner-info-wrapper .bannerInfo span {
	font-size: 12rem
}

#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoHead {
	font-family: CenturyGothic-Bold;
	font-size: 7.2rem;
	line-height: 8.8rem;
	padding-top: 4.4rem
}

#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoDesc {
	font-family: CenturyGothic-Regular;
	font-size: 1.8rem;
	line-height: 2.8rem;
	padding-top: 2.4rem
}

section.uxdesign-area {
	padding: 10rem 0
}

section.uxdesign-area .mb {
	margin-top: 13.3rem
}

section.uxdesign-area .ux-image {
	box-shadow: 0 18px 52.8537px rgba(215, 228, 249, .5);
	border-radius: 24px;
	max-height: 400px;
	overflow: hidden
}

section.uxdesign-area .ux-image img {
	width: 100%;
	height: 100%
}

section.uxdesign-area .ux-title-mob {
	display: none
}

section.uxdesign-area .ux-design {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

section.uxdesign-area .ux-design .image-col {
	width: 50%;
	margin-right: 8rem
}

section.uxdesign-area .ux-design .content-col {
	width: 50%
}

section.uxdesign-area .ux-content .ux-title {
	font-size: 4.8rem;
	line-height: 6rem;
	color: #2d2d2d;
	font-family: CenturyGothic-Bold;
	margin-bottom: 4rem;
	text-transform: capitalize
}

section.uxdesign-area .ux-content h3.ux-title-2 {
	font-size: 4.8rem;
	line-height: 6rem;
	color: #2d2d2d;
	font-family: CenturyGothic-Bold;
	margin-bottom: 1.6rem
}

section.uxdesign-area .ux-content h4.ux-subtitle {
	font-size: 3.2rem;
	line-height: 4.6rem;
	margin-bottom: 2.4rem;
	font-family: CenturyGothic-Bold;
	color: #2d2d2d
}

section.uxdesign-area .ux-content ul.ux-list li.ux-list {
	font-size: 1.8rem;
	line-height: 3.2rem;
	color: #585755;
	font-family: CenturyGothic-Regular;
	margin-bottom: 2.7rem
}

section.uxdesign-area .ux-content ul.ux-list li.ux-list:last-child {
	margin-bottom: 0
}

section.uxdesign-area .ux-content .bottom-margin {
	margin-bottom: 4.6rem
}

section.uxdesign-area .expertiselist {
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 4rem;
	padding-left: 3rem
}

section.uxdesign-area .expertiselist h5.ex-title {
	font-size: 2.4rem;
	line-height: 3.2rem;
	margin-bottom: .8rem;
	font-family: CenturyGothic-Bold
}

section.uxdesign-area .expertiselist p.ex-para {
	font-size: 18px;
	line-height: 32px;
	color: #585755
}

section.uxdesign-area .expertiselist .expertise-icon {
	padding-right: 3rem
}

section.uxdesign-area .expertiselist .expert-content {
	width: 90%
}

section.uxdesign-area .expertiselist:nth-child(3) {
	margin-bottom: 0
}

section .il-serve-info {
	padding: 11.3rem 15px 0
}

section .il-serve-info .il-heading h2 {
	font-size: 4.8rem;
	line-height: 6rem;
	color: #171717;
	font-family: CenturyGothic-Bold
}

section .il-serve-info .il-para {
	margin-top: 2rem
}

section .il-serve-info .il-para h3 {
	font-size: 3.2rem;
	line-height: 4.6rem;
	color: #171717;
	font-family: CenturyGothic-Bold;
	text-transform: capitalize
}

section .il-serve-info .il-para p {
	margin-top: 35px;
	color: #585755;
	line-height: 3.2rem;
	font-size: 1.8rem
}

section .il-serve-info .il-para .il-serve-details {
	margin-top: 4.8rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 8rem;
	grid-gap: 8rem;
	grid-auto-flow: row dense;
	width: 100%
}

section .il-serve-info .il-para .il-serve-details .serve-card span {
	font-size: 80px;
	color: #0b4e82
}

section .il-serve-info .il-para .il-serve-details .serve-card h4 {
	margin-top: 2.2rem;
	font-size: 24px;
	line-height: 32px;
	font-family: CenturyGothic-Bold;
	color: #171717;
	text-transform: capitalize
}

section .il-serve-info .il-para .il-serve-details .serve-card p {
	margin-top: .8rem
}

section .il-serve-info .il-para .il-serve-details .serve-card li {
	color: #585755;
	line-height: 3.2rem;
	font-size: 1.8rem
}

section .il-serve-info .il-para .il-serve-details.type-one {
	grid-template-areas: "."
}

section .il-serve-info .il-para .il-serve-details.type-two {
	grid-template-areas: ". ."
}

section .il-serve-info .il-para .il-serve-details.type-three {
	grid-template-areas: ". . ."
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul {
	display: -ms-flexbox;
	display: flex;
	margin-top: 2rem;
	-ms-flex-align: end;
	align-items: end;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li {
	max-width: 130px;
	max-height: 100px;
	height: 100%;
	padding: 0 10px 10px 0;
	-ms-flex-align: stretch;
	align-items: stretch
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li a {
	box-shadow: 0 6.79794px 19.9609px rgba(215, 228, 249, .5);
	border-radius: 1rem;
	border: 1px solid #f6f9ff;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
	height: 75px
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li:last-child a {
	font-size: 4rem;
	color: #000;
	box-shadow: none;
	-ms-flex-align: end;
	align-items: end
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li img {
	scale: .95;
	transition: .3s all ease
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li:hover img {
	scale: 1
}

section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li a {
	font-size: 1.6rem;
	line-height: 2rem
}

.trans-tech {
	margin-bottom: 12rem
}

.trans-tech .sec-head {
	font-size: 5.4rem;
	line-height: 6.6rem;
	font-family: CenturyGothic-Bold;
	color: #171717;
	text-align: center;
	margin-bottom: 2.4rem
}

.trans-tech .sec-subhead {
	font-size: 2.4rem;
	line-height: 2.4rem;
	font-family: CenturyGothic-Regular;
	color: #585755;
	text-align: center
}

.trans-tech .mac-delivery {
	margin: 5.9rem auto 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.trans-tech .mac-delivery .right-col {
	width: 50%
}

.trans-tech .mac-delivery .left-col {
	width: 50%;
	padding-left: 12.7rem
}

.trans-tech .mac-delivery .left-col .col-head {
	font-size: 3.2rem;
	line-height: 3.9rem;
	font-family: CenturyGothic-Bold;
	color: #171717;
	text-align: left;
	margin-bottom: 2.8rem;
	padding-left: 0
}

.trans-tech .mac-delivery .left-col .img-desc {
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #585755;
	font-family: CenturyGothic-Regular;
	margin-bottom: 4rem;
	width: 100%
}

.trans-tech .mac-delivery .left-col .img-desc-1 {
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #585755;
	font-family: CenturyGothic-Regular;
	margin-bottom: 1.8rem
}

.trans-tech .mac-delivery .left-col .play-btn {
	width: 33px;
	height: 33px;
	margin-right: 1.3rem
}

.trans-tech .mac-delivery .left-col .video-demo .watchdemo {
	color: #0b4e82;
	font-size: 1.8rem;
	line-height: 2.2rem;
	position: relative
}

.trans-tech .mac-delivery .left-col .video-demo .watchdemo::before {
	position: absolute;
	content: "";
	height: 2px;
	left: 0;
	right: 0;
	top: 25;
	width: 135px;
	background: #0b4e82
}

.trans-tech .mac-delivery .left-col .video-demo .watchdemo::after {
	content: "";
	background: url(../images/arrow.png);
	width: 15px;
	height: 12px;
	position: absolute;
	top: 5;
	right: -20px;
	transition: transform .3s ease-out;
	animation: bounceRight 2s infinite
}

.trans-tech .mac-delivery .left-col .demowrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.trans-tech .mac-delivery-1 {
	margin: 5.9rem auto 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-align: center;
	align-items: center
}

.trans-tech .mac-delivery-1 .right-col {
	width: 50%
}

.trans-tech .mac-delivery-1 .left-col {
	width: 50%
}

.trans-tech .mac-delivery-1 .left-col .col-head {
	font-size: 3.2rem;
	line-height: 3.9rem;
	font-family: CenturyGothic-Bold;
	color: #171717;
	text-align: left;
	margin-bottom: 2.8rem;
	padding-left: 0
}

.trans-tech .mac-delivery-1 .left-col .img-desc {
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #585755;
	font-family: CenturyGothic-Regular;
	margin-bottom: 4rem;
	width: 100%
}

.trans-tech .mac-delivery-1 .left-col .img-desc-1 {
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #585755;
	font-family: CenturyGothic-Regular;
	margin-bottom: 1.8rem
}

.trans-tech .mac-delivery-1 .left-col .play-btn {
	width: 33px;
	height: 33px;
	margin-right: 1.3rem
}

.trans-tech .mac-delivery-1 .left-col .video-demo .watchdemo {
	color: #0b4e82;
	font-size: 1.8rem;
	line-height: 2.2rem;
	position: relative
}

.trans-tech .mac-delivery-1 .left-col .video-demo .watchdemo::before {
	position: absolute;
	content: "";
	height: 2px;
	left: 0;
	right: 0;
	top: 25;
	width: 135px;
	background: #0b4e82
}

.trans-tech .mac-delivery-1 .left-col .video-demo .watchdemo::after {
	content: "";
	background: url(..//images/arrow.png);
	width: 15px;
	height: 12px;
	position: absolute;
	top: 5;
	right: -20px;
	transition: transform .5s ease-out;
	animation: bounceRight 2s infinite
}

.trans-tech .mac-delivery-1 .left-col .demowrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

section.excitedTo-work {
	padding: 10rem 0 10rem
}

section.excitedTo-work .excitd-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center
}

section.excitedTo-work .excitd-wrapper .excited-area {
	padding: 9rem 0 8.5rem 0;
	background: #e5efff;
	border-radius: 2.4rem;
	text-align: center;
	position: relative;
	z-index: 9;
	overflow: hidden;
	width: 1330px
}

section.excitedTo-work .excitd-wrapper .excited-area .extited-vector {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: -1
}

section.excitedTo-work .excitd-wrapper .excited-area .extited-vector img {
	max-width: 100%;
	width: auto
}

section.excitedTo-work .excitd-wrapper .excited-area .ex-title {
	font-size: 5.4rem;
	line-height: 6.6rem;
	color: #2d2d2d;
	font-family: CenturyGothic-Bold;
	margin-bottom: 2.4rem;
	text-transform: capitalize
}

section.excitedTo-work .excitd-wrapper .excited-area .ex-para {
	font-size: 2rem;
	line-height: 2.5rem;
	color: #2d2d2d;
	font-family: CenturyGothic-Regular;
	margin-bottom: 5.9rem
}

section.excitedTo-work .excitd-wrapper .excited-area .btn_primary {
	font-family: CenturyGothic-Bold;
	background-color: #0b4e82;
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #fff;
	border: 1px solid #0b4e82;
	padding: 1.8rem 4rem
}

section.excitedTo-work .excitd-wrapper .excited-area .btn_primary:hover {
	background-color: #fff;
	color: #0b4e82;
	transition: all .2s
}

section.excitedTo-work .excitd-wrapper .excited-area .btn_primary::after {
	background-color: #0b4e82
}

section.excitedTo-work .excitd-wrapper .excited-area span {
	font-size: 8rem;
	position: absolute;
	right: 33.7rem;
	bottom: 10.5rem
}

section.brilliance-tog .excitd-wrapper .excited-area {
	width: 100%;
	position: relative
}

section.brilliance-tog .excitd-wrapper .excited-area h2 {
	z-index: 11;
	position: relative
}

section.brilliance-tog .excitd-wrapper .excited-area p {
	z-index: 11;
	position: relative
}

section.brilliance-tog .excitd-wrapper .excited-area a {
	z-index: 11;
	position: relative
}

section.brilliance-tog .excitd-wrapper .excited-area::after {
	content: "";
	position: absolute;
	width: 401px;
	height: 401px;
	border-radius: 100%;
	background: 0 0;
	border: 5px solid #fff;
	bottom: 0;
	right: 0;
	-ms-transform: translate(150px, 150px);
	transform: translate(150px, 150px);
	animation: move 5s infinite
}

section.brilliance-tog .excitd-wrapper .excited-area .big_circle {
	width: 680px;
	height: 680px;
	background: linear-gradient(180deg, rgba(255, 255, 255, .0001) 0, #fff 100%);
	border-radius: 100%;
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	-ms-flex-align: center;
	align-items: center;
	left: -313px
}

section.brilliance-tog .excitd-wrapper .excited-area .big_circle:hover {
	animation: movingbig 5s infinite
}

section.brilliance-tog .excitd-wrapper .excited-area .big_circle::after {
	content: "";
	width: 450px;
	height: 450px;
	background: #e5efff;
	border-radius: 100%;
	position: absolute
}

section.brilliance-tog .excitd-wrapper .excited-area .small_circle {
	width: 65px;
	height: 65px;
	border: 5px solid #fff;
	position: absolute;
	border-radius: 100%;
	-ms-transform: translate(100px, -150px);
	transform: translate(100px, -150px);
	animation: rotation 5s infinite
}

@media (min-width:576px) {

	.container,
	.container-sm,
	.container-small {
		max-width: 540px
	}

	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-sm-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-sm-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-sm-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-sm-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-sm-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-sm-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-sm-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-sm-first {
		-ms-flex-order: -1;
		order: -1
	}

	.order-sm-last {
		-ms-flex-order: 13;
		order: 13
	}

	.order-sm-0 {
		-ms-flex-order: 0;
		order: 0
	}

	.order-sm-1 {
		-ms-flex-order: 1;
		order: 1
	}

	.order-sm-2 {
		-ms-flex-order: 2;
		order: 2
	}

	.order-sm-3 {
		-ms-flex-order: 3;
		order: 3
	}

	.order-sm-4 {
		-ms-flex-order: 4;
		order: 4
	}

	.order-sm-5 {
		-ms-flex-order: 5;
		order: 5
	}

	.order-sm-6 {
		-ms-flex-order: 6;
		order: 6
	}

	.order-sm-7 {
		-ms-flex-order: 7;
		order: 7
	}

	.order-sm-8 {
		-ms-flex-order: 8;
		order: 8
	}

	.order-sm-9 {
		-ms-flex-order: 9;
		order: 9
	}

	.order-sm-10 {
		-ms-flex-order: 10;
		order: 10
	}

	.order-sm-11 {
		-ms-flex-order: 11;
		order: 11
	}

	.order-sm-12 {
		-ms-flex-order: 12;
		order: 12
	}
}

@media (min-width:768px) {

	.container,
	.container-md,
	.container-sm,
	.container-small {
		max-width: 720px
	}

	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-md-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-md-first {
		-ms-flex-order: -1;
		order: -1
	}

	.order-md-last {
		-ms-flex-order: 13;
		order: 13
	}

	.order-md-0 {
		-ms-flex-order: 0;
		order: 0
	}

	.order-md-1 {
		-ms-flex-order: 1;
		order: 1
	}

	.order-md-2 {
		-ms-flex-order: 2;
		order: 2
	}

	.order-md-3 {
		-ms-flex-order: 3;
		order: 3
	}

	.order-md-4 {
		-ms-flex-order: 4;
		order: 4
	}

	.order-md-5 {
		-ms-flex-order: 5;
		order: 5
	}

	.order-md-6 {
		-ms-flex-order: 6;
		order: 6
	}

	.order-md-7 {
		-ms-flex-order: 7;
		order: 7
	}

	.order-md-8 {
		-ms-flex-order: 8;
		order: 8
	}

	.order-md-9 {
		-ms-flex-order: 9;
		order: 9
	}

	.order-md-10 {
		-ms-flex-order: 10;
		order: 10
	}

	.order-md-11 {
		-ms-flex-order: 11;
		order: 11
	}

	.order-md-12 {
		-ms-flex-order: 12;
		order: 12
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {
	section.excitedTo-work .excitd-wrapper .excited-area span {
		font-size: 7.5rem;
		right: 8.7rem;
		bottom: 10.5rem
	}
}

@media (min-width:992px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-small {
		max-width: 960px
	}

	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-lg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-lg-first {
		-ms-flex-order: -1;
		order: -1
	}

	.order-lg-last {
		-ms-flex-order: 13;
		order: 13
	}

	.order-lg-0 {
		-ms-flex-order: 0;
		order: 0
	}

	.order-lg-1 {
		-ms-flex-order: 1;
		order: 1
	}

	.order-lg-2 {
		-ms-flex-order: 2;
		order: 2
	}

	.order-lg-3 {
		-ms-flex-order: 3;
		order: 3
	}

	.order-lg-4 {
		-ms-flex-order: 4;
		order: 4
	}

	.order-lg-5 {
		-ms-flex-order: 5;
		order: 5
	}

	.order-lg-6 {
		-ms-flex-order: 6;
		order: 6
	}

	.order-lg-7 {
		-ms-flex-order: 7;
		order: 7
	}

	.order-lg-8 {
		-ms-flex-order: 8;
		order: 8
	}

	.order-lg-9 {
		-ms-flex-order: 9;
		order: 9
	}

	.order-lg-10 {
		-ms-flex-order: 10;
		order: 10
	}

	.order-lg-11 {
		-ms-flex-order: 11;
		order: 11
	}

	.order-lg-12 {
		-ms-flex-order: 12;
		order: 12
	}
}

@media (min-width:1200px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1222px
	}

	.container-small {
		max-width: 1062px
	}

	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.row-cols-xl-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.row-cols-xl-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.row-cols-xl-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.row-cols-xl-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.row-cols-xl-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}

	.row-cols-xl-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-xl-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-xl-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.col-xl-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.col-xl-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.col-xl-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.col-xl-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.col-xl-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.col-xl-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.col-xl-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.col-xl-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.col-xl-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.col-xl-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.col-xl-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-xl-first {
		-ms-flex-order: -1;
		order: -1
	}

	.order-xl-last {
		-ms-flex-order: 13;
		order: 13
	}

	.order-xl-0 {
		-ms-flex-order: 0;
		order: 0
	}

	.order-xl-1 {
		-ms-flex-order: 1;
		order: 1
	}

	.order-xl-2 {
		-ms-flex-order: 2;
		order: 2
	}

	.order-xl-3 {
		-ms-flex-order: 3;
		order: 3
	}

	.order-xl-4 {
		-ms-flex-order: 4;
		order: 4
	}

	.order-xl-5 {
		-ms-flex-order: 5;
		order: 5
	}

	.order-xl-6 {
		-ms-flex-order: 6;
		order: 6
	}

	.order-xl-7 {
		-ms-flex-order: 7;
		order: 7
	}

	.order-xl-8 {
		-ms-flex-order: 8;
		order: 8
	}

	.order-xl-9 {
		-ms-flex-order: 9;
		order: 9
	}

	.order-xl-10 {
		-ms-flex-order: 10;
		order: 10
	}

	.order-xl-11 {
		-ms-flex-order: 11;
		order: 11
	}

	.order-xl-12 {
		-ms-flex-order: 12;
		order: 12
	}
}

@media (min-width:1440px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1370px
	}
}

@media (min-width:1600px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1600px
	}
}

@media only screen and (max-width:1366px) {
	section.uxdesign-area .ux-content ul.ux-list li.ux-list {
		width: 100%
	}

	.trans-tech .mac-delivery .left-col {
		padding-left: 7.5rem
	}

	.trans-tech .mac-delivery .left-col .img-desc {
		width: 100%
	}

	.trans-tech .mac-delivery-1 .left-col .img-desc {
		width: 100%
	}
}

@media only screen and (max-width:1199px) {
	section.uxdesign-area .ux-image {
		height: 300px;
		overflow: hidden;
		object-fit: cover
	}

	section.uxdesign-area .ux-design {
		-ms-flex-direction: column;
		flex-direction: column
	}

	section.uxdesign-area .ux-design .image-col {
		width: 100%;
		margin-right: 0;
		margin-bottom: 3rem
	}

	section.uxdesign-area .ux-design .content-col {
		width: 100%
	}

	section .il-serve-info .il-para .il-serve-details {
		margin-top: 2.8rem
	}

	section .il-serve-info .il-para .il-serve-details.type-three {
		grid-template-areas: ". ."
	}

	section .il-serve-info {
		padding: 6rem 15px 0
	}

	section.excitedTo-work .excitd-wrapper .excited-area span {
		right: 15.7rem;
		bottom: 11.5rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area::after {
		width: 350px;
		height: 350px
	}

	section.brilliance-tog .excitd-wrapper .excited-area .small_circle {
		-ms-transform: translate(-19px, -68px);
		transform: translate(-19px, -68px)
	}
}

@media only screen and (max-width:991px) {
	#serviceDetailsbanner {
		min-height: auto
	}

	#serviceDetailsbanner .banner-info-wrapper .bannerInfo span {
		font-size: 8rem
	}

	#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoHead {
		font-size: 3.5rem;
		line-height: 4.5rem
	}

	#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoDesc {
		font-size: 1.6rem;
		line-height: 2.6rem;
		padding-top: 2.6rem
	}

	#serviceDetailsbanner .banner-info-wrapper {
		text-align: center
	}

	section.uxdesign-area .mb {
		margin-top: 4.6rem;
		-ms-flex-direction: column;
		flex-direction: column
	}

	section.uxdesign-area .ux-image {
		margin-bottom: 2.1rem
	}

	section.uxdesign-area .ux-title-mob {
		padding-left: 9px
	}

	section.uxdesign-area .ux-design {
		padding: 0 9px
	}

	section.uxdesign-area .ux-design .image-col {
		width: 100%;
		margin-right: 0
	}

	section.uxdesign-area .ux-design .content-col {
		width: 100%
	}

	section.uxdesign-area .ux-content ul.ux-list li.ux-list {
		font-size: 1.6rem;
		line-height: 2.6rem;
		width: 100%
	}

	section.uxdesign-area .expertiselist {
		padding-left: 0
	}

	section .il-serve-info .il-para p {
		font-size: 1.6rem;
		line-height: 2.6rem
	}

	section .il-serve-info .il-para .il-serve-details {
		grid-gap: 3.2rem;
		gap: 3.2rem
	}

	section .il-serve-info .il-para .il-serve-details .serve-card span {
		font-size: 65px
	}

	section .il-serve-info .il-para .il-serve-details .serve-card h4 {
		margin-top: 1.2rem
	}

	section .il-serve-info .il-para .il-serve-details.type-two {
		grid-template-areas: "."
	}

	section .il-serve-info .il-para .il-serve-details.type-three {
		grid-template-areas: "."
	}

	section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li:last-child a {
		-ms-flex-align: start;
		align-items: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}

	section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li {
		width: 100%;
		max-width: 33%
	}

	section .il-serve-info {
		padding: 4rem 24px 0
	}

	section.excitedTo-work .excitd-wrapper .excited-area .ex-title {
		font-size: 3.2rem;
		line-height: 3.9rem;
		margin-bottom: 1.4rem
	}

	section.excitedTo-work .excitd-wrapper .excited-area .ex-para {
		font-size: 1.6rem;
		line-height: 1.9rem;
		margin-bottom: 5rem
	}

	section.excitedTo-work .excitd-wrapper .excited-area .btn_primary {
		padding: 1.2rem 2.8rem;
		font-size: 1.6rem;
		line-height: 1.9rem
	}
}

@media only screen and (max-width:767px) {
	section.uxdesign-area {
		padding: 6rem 0 0
	}

	section.uxdesign-area .mb {
		margin-top: 4.6rem
	}

	section.uxdesign-area .ux-title-mob {
		font-size: 4.8rem;
		line-height: 5.8rem;
		color: #2d2d2d;
		font-family: CenturyGothic-Bold;
		margin-bottom: 3rem;
		display: block
	}

	section.uxdesign-area .ux-content .ux-title {
		display: none
	}

	section.uxdesign-area .expertiselist p.ex-para {
		font-size: 1.6rem;
		line-height: 2.4rem
	}

	section .il-serve-info .il-heading h2 {
		font-size: 2.8rem;
		line-height: 3.2rem
	}

	section .il-serve-info .il-para h3 {
		font-size: 1.8rem;
		line-height: 20px
	}

	section .il-serve-info .il-para p {
		margin-top: 1.6rem
	}

	section .il-serve-info .il-para .il-serve-details .serve-card {
		display: -ms-flexbox;
		display: flex
	}

	section .il-serve-info .il-para .il-serve-details .serve-card span {
		font-size: 50px;
		margin-right: 16px
	}

	section .il-serve-info .il-para .il-serve-details .serve-card h4 {
		margin-top: 0;
		font-size: 16px
	}

	section .il-serve-info .il-para .il-serve-details .serve-card p {
		font-size: 1.4rem;
		margin-top: .4rem;
		line-height: 22px
	}

	section .il-serve-info .il-para .il-serve-details .no-flex {
		display: block
	}

	section .il-serve-info .il-para .il-serve-details .il-serve-clients-ul li {
		width: 100%;
		max-width: 50%
	}

	.trans-tech .sec-head {
		font-size: 3.2rem;
		line-height: 3.9rem;
		text-align: left;
		margin-bottom: 1.1rem
	}

	.trans-tech .sec-subhead {
		font-size: 1.6rem;
		text-align: left
	}

	.trans-tech .mac-delivery {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		margin: 5.4rem auto 0
	}

	.trans-tech .mac-delivery .right-col {
		width: 100%
	}

	.trans-tech .mac-delivery .left-col {
		padding-left: 0
	}

	.trans-tech .mac-delivery .left-col .col-head {
		font-size: 2rem;
		line-height: 2.4rem;
		margin-bottom: 1.6rem
	}

	.trans-tech .mac-delivery .left-col .img-desc {
		width: 100%;
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 1.6rem
	}

	.trans-tech .mac-delivery .left-col .img-desc-1 {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 2.7rem
	}

	.trans-tech .mac-delivery .left-col {
		width: 100%;
		margin-bottom: 3.4rem
	}

	.trans-tech .mac-delivery-1 {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}

	.trans-tech .mac-delivery-1 .right-col {
		width: 100%
	}

	.trans-tech .mac-delivery-1 .left-col .col-head {
		font-size: 2rem;
		line-height: 2.4rem;
		margin-bottom: 1.6rem
	}

	.trans-tech .mac-delivery-1 .left-col .img-desc {
		width: 100%;
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 1.6rem
	}

	.trans-tech .mac-delivery-1 .left-col .img-desc-1 {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 2.7rem
	}

	.trans-tech .mac-delivery-1 .left-col {
		width: 100%;
		margin-bottom: 3.4rem
	}

	section.excitedTo-work {
		padding: 3rem 0 6rem 0
	}

	section.excitedTo-work .excitd-wrapper .excited-area .extited-vector img {
		margin-top: 4rem
	}

	section.excitedTo-work .excitd-wrapper .excited-area .btn_primary {
		padding: 1rem 3.6rem;
		font-size: 1.4rem;
		line-height: 1.7rem
	}

	section.excitedTo-work .excitd-wrapper .excited-area span {
		font-size: 6rem;
		right: 3.7rem;
		bottom: 6.5rem
	}

	section.excitedTo-work .excitd-wrapper .excited-area {
		padding: 3rem 2.9rem 5.7rem 2.9rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area h2 {
		font-size: 2.8rem;
		line-height: 3.5rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area p {
		font-size: 1.4rem;
		line-height: 1.8rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area::after {
		width: 200px;
		height: 200px;
		-ms-transform: translate(150px, -7px);
		transform: translate(150px, -7px)
	}

	section.brilliance-tog .excitd-wrapper .excited-area {
		width: 100%
	}

	section.brilliance-tog .excitd-wrapper .excited-area .big_circle {
		width: 456px;
		height: 456px
	}

	section.brilliance-tog .excitd-wrapper .excited-area .big_circle::after {
		width: 276px;
		height: 276px
	}

	section.brilliance-tog .excitd-wrapper .excited-area .small_circle {
		width: 30px;
		height: 30px;
		-ms-transform: translate(-19px, -84px);
		transform: translate(-19px, -84px)
	}
}

@media only screen and (max-width:576px) {
	#serviceDetailsbanner {
		padding: 40px 0 30px
	}

	#serviceDetailsbanner .banner-bg-img {
		width: 100%;
		height: auto
	}

	#serviceDetailsbanner picture {
		min-height: auto
	}

	#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoHead {
		padding-top: 1.7rem
	}

	#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoDesc {
		font-size: 1.4rem;
		line-height: 2.4rem;
		padding-top: 2rem
	}

	section.uxdesign-area .mb {
		margin-top: 4.6rem
	}

	section.uxdesign-area .ux-image {
		margin-bottom: 2.1rem;
		height: auto
	}

	section.uxdesign-area .ux-title-mob {
		font-size: 2.8rem;
		line-height: 3.6rem;
		color: #2d2d2d;
		font-family: CenturyGothic-Bold;
		margin-bottom: 3rem;
		display: block;
		text-align: left
	}

	section.uxdesign-area .ux-design .image-col {
		width: 100%;
		margin-right: 0
	}

	section.uxdesign-area .ux-design .content-col {
		width: 100%
	}

	section.uxdesign-area .ux-content .ux-title {
		display: none
	}

	section.uxdesign-area .ux-content h3.ux-title-2 {
		font-size: 2.4rem;
		line-height: 2.9rem
	}

	section.uxdesign-area .ux-content h4.ux-subtitle {
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin-bottom: 2rem
	}

	section.uxdesign-area .expertiselist h5.ex-title {
		font-size: 1.6rem;
		line-height: 2.4rem
	}

	section.uxdesign-area .expertiselist .expertise-icon {
		padding-right: 1.6rem
	}

	section.uxdesign-area .expertiselist {
		padding-left: 0
	}

	section.excitedTo-work .excitd-wrapper .excited-area span {
		font-size: 7rem;
		right: 2.7rem;
		bottom: 7.4rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area h2 {
		margin-top: 2rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area p {
		margin-bottom: 3.2rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area a {
		margin-bottom: 2rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area {
		padding: 1.6rem
	}

	section.brilliance-tog .excitd-wrapper .excited-area .small_circle {
		-ms-transform: translate(-19px, -107px);
		transform: translate(-19px, -107px)
	}
}

@media screen and (max-width:440px) {
	#serviceDetailsbanner .banner-bg-img {
		height: 100%
	}
}

@media screen and (max-width:413px) {
	#serviceDetailsbanner .banner-info-wrapper .bannerInfo .bannerinfoHead {
		font-size: 2.8rem;
		line-height: 3.6rem
	}

	section.uxdesign-area .ux-content ul.ux-list li.ux-list {
		font-size: 1.4rem;
		line-height: 2.4rem
	}
}

@keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes bounceRight {

	0%,
	100%,
	20%,
	50%,
	80% {
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	40% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px)
	}

	60% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px)
	}
}

@keyframes bounceRight {

	0%,
	100%,
	20%,
	50%,
	80% {
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	40% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px)
	}

	60% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px)
	}
}

@keyframes move {
	0% {
		transform: translate(180px, 150px)
	}

	25% {
		transform: translate(150px, 150px)
	}

	50% {
		transform: translate(120px, 150px)
	}

	75% {
		transform: translate(150px, 150px)
	}

	100% {
		transform: translate(180px, 150px)
	}
}

@keyframes movingbig {
	0% {
		left: -313px
	}

	25% {
		left: -313px
	}

	50% {
		left: -326px
	}

	75% {
		left: -313px
	}

	100% {
		left: -300px
	}
}

@keyframes rotation {
	0% {
		transform: rotate3d(1, 1, 1, 0deg)
	}

	25% {
		transform: rotate3d(1, 1, 1, 90deg)
	}

	50% {
		transform: rotate3d(1, 1, 1, 180deg)
	}

	75% {
		transform: rotate3d(1, 1, 1, 270deg)
	}

	100% {
		transform: rotate3d(1, 1, 1, 360deg)
	}
}