<section data-sly-use.testObj="com.Idealake.core.models.TestimonialModel" id="testimonial">
    <div class="container testimonialwrap">
        <h2 data-aos="fade-up" class="sec-head">${properties.cardtitle}</h2>
        <div data-aos="fade-up" class="sliderWrap">
            <div class="my-slider">
                <ul>
                    <sly data-sly-list.testItem="${testObj.testCards.listChildren}">
                    <li>
                        <p class="text">${testItem.cardtxt}</p>
                        <div class="user">
                            <div class="userinfo">
                                <div class="userDetail">
                                    <p class="username">${testItem.username}</p>
                                    <p class="userpos">${testItem.userpos}</p>
                                </div>
                            </div>
                            <div class="complogo"><img
                                    src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                    data-src="${testItem.brandimage}"
                                    alt="${testItem.imgAltText}" class="lazy"></div>
                        </div>
                    </li>
                    </sly>
                </ul>
            </div>
        </div>
    </div>
</section>
</section>