<section class="ready-section">
    <div class="container">
        <div data-aos="fade-up" class="idea-container aos-init aos-animate">
            <h2 class="idea-h1">${properties.title}</h2>
            <div class="ready-grid">
                <div class="left-grid">
                    <p class="idea-p">${properties.text}</p>
                    <div class="btn-wrap"> <a href="${properties.ctaLink}" class="idea-cta-card cta-2">
                        <p>hello</p><span class="icon-top-right-arrow"></span>
                    </a>
                    </div>
                </div>
                <div class="right-grid"><img src="assets/images/svg.png" alt="brand transformation icon" class="img-fluid svg-image lazy"></div>
            </div>
        </div>
    </div>
</section>