
<template data-sly-template.homePage="${ @ model }">
    <section  class="ready-section">
        <div class="container">
            <div data-aos="fade-up" class="idea-container">
                <h2 class="idea-h1">${properties.title}</h2>
                <div class="ready-grid">
                    <div class="left-grid">
                        <p class="idea-p">${properties.des}</p>
                        <div class="btn-wrap"> <a href="${properties.ctaUrl}" class="idea-cta-card cta-2">
                            <p>${properties.ctaName}</p><span class="icon-top-right-arrow"></span>
                        </a>
                        </div>
                    </div>
                    <div class="right-grid"><img
                            src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="${properties.bannerImg}" alt="${properties.imgAlt}"
                            class="img-fluid svg-image lazy"></div>
                </div>
            </div>
        </div>
    </section>
</template>

<template data-sly-template.services="${ @ model }">
<section  class="excitedTo-work">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div data-aos="fade-up" class="excitd-wrapper">
                        <div class="excited-area">
                            <h2 class="ex-title">${properties.sertitle}</h2>
                            <p class="ex-para">${properties.serdes}</p><a href="${properties.serctaUrl}"
                                                                                 class="btn btn_primary">${properties.serctaName}</a><span
                                class="icon-lets-chat-arrow"></span>
                            <div class="extited-vector">
                                <picture>
                                    <source media="(max-width:767px)"
                                            srcset="${properties.serbannerImg}"><img
                                        data-src="${properties.servectorImg}"
                                        alt="${properties.serimgAlt}" class="lazy">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</template>