<sly data-sly-use.product="com.Idealake.core.models.TeamSectionModel"/>

<section id="team_section">
	<div class="container">
		<div data-aos="fade-up" class="fundmembersHead">
			<h2 class="sec-head">${properties.title}</h2>
			<p class="sec-subhead">${properties.subtitle}</p>
		</div>
		<div data-aos="fade-up" class="memberCard">
			<div id="meetourteam" class="swiper">
				<div class="swiper-wrapper">
					<sly data-sly-list.product="${product.section.listChildren}">
						<div class="swiper-slide">
							<div class="card">
								<div class="cardImg">
									<picture>
										<source srcset="${product.imagePath}" type="image/png">
										<img src="${product.scriptImage}"
											 data-src="assets/images/viraj-sawant.png" alt="Viraj Savant"
											 class="lazy">
									</picture>
								</div>
								<div class="cardinfo">
									<h3 class="cardTitle">${product.name}</h3>
									<p class="cardDisc">${product.post}</p>
									<div class="socialIcons">
										<ul>
											<li>
												<a  href="${product.link}"
													target="_blank"><span
														class="icon-linked-in2"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</sly>

				</div>
			</div>
		</div>
		<div class="leadersBtn"><a href="our-team.html" class="btn btn-outline">${properties.button}</a></div>
	</div>
</section>