<sly  data-sly-use.awardObj="com.Idealake.core.models.AwardModel"/>

    <div class="swiper awardSlider">
        <div class="swiper-wrapper">
            <sly data-sly-list.awardItem="${awardObj.awardCards.listChildren}">
            <div class="swiper-slide">
                <div class="img-wrap"><img src="${awardItem.awardimage}"
                                           alt="${awardItem.imgAltText}" title="${awardItem.title}">
                </div>
            </div>
            </sly>
        </div>
    </div>