<div class="swiper awardSlider swiper-initialized swiper-horizontal swiper-pointer-events">
    <div class="swiper-wrapper" id="swiper-wrapper-83c863b6ba43a42a" aria-live="off"
         style="cursor: grab; transition-duration: 0ms; transform: translate3d(-2709.68px, 0px, 0px);">
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-3.png" alt="L&amp;T Finance Website DCX Awards 2023"
                                       title="L&amp;T Finance Website DCX Awards 2023"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3"
             role="group" aria-label="4 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-4.png"
                                       alt="Best Internal App &amp; Intranet Creative Abby Goafest 2022"
                                       title="Best Internal App &amp; Intranet Creative Abby Goafest 2022"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4"
             role="group" aria-label="5 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-5.png"
                                       alt="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"
                                       title="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5"
             role="group" aria-label="6 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-6.png"
                                       alt="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"
                                       title="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" role="group" aria-label="7 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-7.png"
                                       alt="Reliance Smart Money Website BRONZE Campaign Digital Crest Awards 2021"
                                       title="Reliance Smart Money Website BRONZE Campaign Digital Crest Awards 2021">
            </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" role="group" aria-label="8 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-8.png"
                                       alt="Agency of the Year AFAQS DIGIES Digital Awards 2020"
                                       title="Agency of the Year AFAQS DIGIES Digital Awards 2020"></div>
        </div>
        <div class="swiper-slide" data-swiper-slide-index="0" role="group" aria-label="1 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-1.png" alt="FGI Leo Chatbot GOLD DIGIXX 2023"
                                       title="FGI Leo Chatbot GOLD DIGIXX 2023">
            </div>
        </div>
        <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-2.png" alt="FGI Leo Chatbot GOLD DIGIXX 2023"
                                       title="FGI Leo Chatbot GOLD DIGIXX 2023">
            </div>
        </div>
        <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-3.png" alt="L&amp;T Finance Website DCX Awards 2023"
                                       title="L&amp;T Finance Website DCX Awards 2023"></div>
        </div>
        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" role="group" aria-label="4 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-4.png"
                                       alt="Best Internal App &amp; Intranet Creative Abby Goafest 2022"
                                       title="Best Internal App &amp; Intranet Creative Abby Goafest 2022"></div>
        </div>
        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" role="group" aria-label="5 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-5.png"
                                       alt="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"
                                       title="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"></div>
        </div>
        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="5" role="group" aria-label="6 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-6.png"
                                       alt="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"
                                       title="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"></div>
        </div>
        <div class="swiper-slide" data-swiper-slide-index="6" role="group" aria-label="7 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-7.png"
                                       alt="Reliance Smart Money Website BRONZE Campaign Digital Crest Awards 2021"
                                       title="Reliance Smart Money Website BRONZE Campaign Digital Crest Awards 2021">
            </div>
        </div>
        <div class="swiper-slide" data-swiper-slide-index="7" role="group" aria-label="8 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-8.png"
                                       alt="Agency of the Year AFAQS DIGIES Digital Awards 2020"
                                       title="Agency of the Year AFAQS DIGIES Digital Awards 2020"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" role="group" aria-label="1 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-1.png" alt="FGI Leo Chatbot GOLD DIGIXX 2023"
                                       title="FGI Leo Chatbot GOLD DIGIXX 2023">
            </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-2.png" alt="FGI Leo Chatbot GOLD DIGIXX 2023"
                                       title="FGI Leo Chatbot GOLD DIGIXX 2023">
            </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 8"
             style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-3.png" alt="L&amp;T Finance Website DCX Awards 2023"
                                       title="L&amp;T Finance Website DCX Awards 2023"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3"
             role="group" aria-label="4 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-4.png"
                                       alt="Best Internal App &amp; Intranet Creative Abby Goafest 2022"
                                       title="Best Internal App &amp; Intranet Creative Abby Goafest 2022"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4"
             role="group" aria-label="5 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-5.png"
                                       alt="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"
                                       title="Kotak Securities App SILVER Campaign Digital Crest Awards 2021"></div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="5"
             role="group" aria-label="6 / 8" style="width: 329.636px; margin-right: 20px;">
            <div class="img-wrap"><img src="assets/images/awards-6.png"
                                       alt="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"
                                       title="TATA Engage App BRONZE Campaign Digital Crest Awards 2021"></div>
        </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>