<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
</sly>

<sly  data-sly-use.product="com.Idealake.core.models.OurOfferings"/>

<section class="our-offering">
    <div class="container">
        <div data-aos="fade-up" class="title-wrapper">
            <h2 class="sec-head">${properties.heading}</h2>
            <p class="sec-subhead">${properties.subHeading1} <br>${properties.subHeading2}
                </p>
        </div>
        <div class="full-stack-wrapper">
            <sly data-sly-list.statsItem="${product.products.listChildren}">
            <div data-aos="fade-up" class="we-design">
                <div class="head">${statsItem.heading}</div>
                <div class="img-wrapper">
                    <picture>
                        <source srcset="${statsItem.imgpath}" type="image/png"><img
                            src="${statsItem.imgPath}"
                            data-src="${statsItem.imgSource}"alt="we_design" width="268"
                            height="504" class="lazy">
                    </picture>
                </div>
            </div>
            </sly>
        </div>
    </div>
</section>
