<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
</sly>


<section class="our-offering">
    <div class="container">
        <div data-aos="fade-up" class="title-wrapper">
            <h2 class="sec-head">The full stack</h2>
            <p class="sec-subhead">From UX design to code development to hosting, <br>Idealake is the
                place for any tech solution.</p>
        </div>
        <div class="full-stack-wrapper">
            <div data-aos="fade-up" class="we-design">
                <div class="head">we DESIGN</div>
                <div class="img-wrapper">
                    <picture>
                        <source srcset="/content/dam/Idealake/idealake/we_design.webp" type="image/png"><img
                            src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="assets/images/we_design.png" alt="we_design" width="268"
                            height="504" class="lazy">
                    </picture>
                </div>
            </div>
            <div data-aos="fade-up" class="we-develop">
                <div class="head">we Develop</div>
                <div class="img-wrapper center-img">
                    <picture>
                        <source srcset="/content/dam/Idealake/idealake/we_develop.webp" type="image/png"><img
                            src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="assets/images/we_develop.png" alt="we_develop" width="417"
                            height="504" class="lazy">
                    </picture>
                </div>
            </div>
            <div data-aos="fade-up" class="we-Deliver">
                <div class="head">we Deliver</div>
                <div class="img-wrapper">
                    <picture>
                        <source srcset="/content/dam/Idealake/idealake/we_deliver.webp" type="image/png"><img
                            src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                            data-src="assets/images/we_deliver.png" alt="we_deliver" width="268"
                            height="504" class="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>